<style type="text/css">
  @font-face {
    font-family: "Open Sans Regular";
    src: url("//cdn.emre.me/newsletter/fonts/opensans-regular-webfont.eot");
    src: url("//cdn.emre.me/newsletter/fonts/opensans-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("//cdn.emre.me/newsletter/fonts/opensans-regular-webfont.woff")
        format("woff"),
      url("//cdn.emre.me/newsletter/fonts/opensans-regular-webfont.ttf")
        format("truetype"),
      url("//cdn.emre.me/newsletter/fonts/opensans-regular-webfont.svg#opensans-regular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  .newsletter {
    font: 15px/24px "Helvetica Neue", Helvetica, Arial, Sans-serif;
    min-width: 400px;
    margin: 0;
    padding: 75px 0 25px 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 0;
  }
  p {
    padding: 0 0 10px 0;
  }
  a {
    color: #336699;
  }
  textarea {
    font: 12px/18px "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }
  .header-nl {
    padding-bottom: 15px;
    text-align: center;
  }
  .header-nl span {
    /*font-size: 22px;*/
  }
  .wrapper-nl {
    width: 540px;
    margin: 0 auto 80px auto;
    text-align: left;
  }
  .container-nl {
    position: relative;
    border-width: 0 !important;
    border-color: transparent !important;
    margin: 0;
    text-align: left;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 60px;
    line-height: 150%;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  }
  .clear {
    clear: both;
  }
  /* Form */

  form {
    font: 16px/20px "Helvetica", Arial, sans-serif;
    display: block;
    padding: 6px 0 10px 0;
  }
  label {
    clear: both;
    display: block;
    margin: 8px 0;
    font-weight: bold;
    position: relative;
    line-height: 150%;
    font-family: Helvetica;
    font-size: 14px;
    color: #333333;
  }
  .email-group input {
    display: block;
    float: left;
    width: 60%;
    margin: 0 10px 0 0;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;
  }
  .email-group .button {
    width: 30%;
    margin: 0;
    min-width: 75px;
  }
  .error,
  .errorText {
    margin: 5px 0 0 0;
    padding: 10px;
    font-size: 14px;
    color: #6b0505;
    background-color: #f4bfbf;
  }
  .formstatus {
    margin-bottom: 10px;
  }
  .success {
    background: #e4f3d4;
    font-size: 14px;
    color: #5ca000;
    margin: 10px 0;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }
  .success a {
    color: #5ca000;
    text-decoration: underline;
  }
  .rounded {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }
  .button,
  .button-small {
    display: inline-block;
    white-space: nowrap;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 0 0;
    padding: 0 22px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  .button-small {
    float: none;
    display: inline-block;
    height: auto;
    line-height: 18px !important;
    padding: 2px 15px !important;
    font-size: 11px !important;
  }
  .button:hover,
  .button-small:hover {
    opacity: 0.8;
  }

  .newsletter {
    -webkit-text-size-adjust: none;
  }
  input {
    -webkit-appearance: none;
  }
  input[type="checkbox"] {
    -webkit-appearance: checkbox;
  }
  input[type="radio"] {
    -webkit-appearance: radio;
  }

  .newsletter {
    background-color: #dddddd;
  }

  .newsletter {
    background-image: url(https://cdn.emre.me/newsletter/newsletter_background.jpg);
  }

  h1.title {
    font-size: 36px;
    line-height: 36px;
    margin: 20px 0;
    font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times,
      "Times New Roman", serif;
    color: #111111;
  }
  .byline {
    font-size: 18px;
    font-family: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive;
    color: #111111;
  }
  .description-nl,
  label,
  .fake-label {
    font-family: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive;
    color: #111111;
  }
  .button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #333333;
  }

</style>
<div class="newsletter">
  <div class="wrapper-nl">
    <div class="container-nl">
      <div class="header-nl">
        <h1 class="title">emre.me - newsletter</h1>
        <span class="byline"> by Emre Bolat </span>
      </div>
      <div class="description-nl">
        <center>
          Get notified about the latest updates from
          <a href="https://emre.me" target="_blank">emre.me</a>!
        </center>
      </div>
      <div class="view-messages"></div>
      <form
        id="subscribe-form"
        method="post"
        action="https://tinyletter.com/emrebolat"
      >
        <div class="email-group">
          <label for="email" class="sr-only"> Email </label>
          <input
            type="email"
            id="email"
            name="email"
            value=""
            placeholder=" email@example.com "
          />
          <button class="button" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</div>